html {
  background-color: #9c69b3e1;
}
 h1 {
  color: #dabdd1;
  background-color: rgba(46, 45, 151, 0.712);
  font-size: 30pt;}
 {
}
 p {
  color: #a2b4b6;
  background-color: #7146c0;
  font-size: 15pt;}
{
}